/* ===== RESET TOTAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Evita espacios fantasma */
html, body {
    width: 100%;
    overflow-x: hidden;
    background: #ffffff;
}

/* ===== CONTENEDOR ===== */
.invitacion {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* ===== SECCIONES ===== */
.seccion {
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; /* IMPORTANTE */
}

/* ===== CADA IMAGEN ===== */
.seccion-1 {
    height: 2690px;
    background-image: url('imagenes/fondo1.jpg');
}

.seccion-2 {
    height: 735px;
    background-image: url('imagenes/fondo2.jpg');
}

.seccion-3 {
    height: 1658px;
    background-image: url('imagenes/fondo3.jpg');
}

.seccion-4 {
    height: 1479px;
    background-image: url('imagenes/fondo4.jpg');
}

.seccion-5 {
    height: 2149px;
    background-image: url('imagenes/fondo5.jpg');
}

.seccion + .seccion {
    margin-top: 0;
}


/* ===== BOTONES FLOTANTES ===== */
.botones-fijos {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.btn-musica {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(200, 155, 60, 0.9);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.btn-musica:hover {
    transform: scale(1.1);
    background: rgba(200, 155, 60, 1);
}

/* ===== RESPONSIVE PARA MÓVILES ===== */
@media (max-width: 1080px) {
    .seccion-1,
    .seccion-3,
    .seccion-4,
    .seccion-5,
    .seccion-2,
    
    .invitacion {
        max-width: 100%;
    }
}

/* Para pantallas muy pequeñas */
@media (max-width: 480px) {
    .seccion-2 {
        margin-top: -100px;
        width: 100%;
    }
    
    .btn-musica {
        width: 50px;
        height: 50px;
        font-size: 20px;
        bottom: 20px;
        right: 20px;
    }
}